<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <title>메모</title>
    <link rel="stylesheet" href="/css/index-style.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>메모 앱</h1>
        <p>중요한 생각을 간편하게 기록하세요</p>
    </div>

    <nav>
        <form th:action="@{/add}">
            <button type="submit" class="add-btn">새 메모 추가</button>
        </form>
        <form th:action="@{/delete-all}">
            <button type="submit" class="delete-all-btn">전체 삭제</button>
        </form>
    </nav>

    <div class="message" th:text="${msg}"></div>

    <ul class="memo-list">
        <li th:each="memo : ${memoList}" class="memo-item">
            <div class="memo-text" th:text="${memo.text}"></div>
            <div class="memo-actions">
                <a class="edit-btn" th:href="@{/update/{id}(id=${memo.id})}">수정</a>
                <form method="post" th:action="@{/delete/{id}(id=${memo.id()})}">
                    <button class="delete-btn">삭제</button>
                </form>
            </div>
        </li>
    </ul>
</div>
</body>

</html>